<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!-- 字符编码过滤器 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ai.my.phase4examination.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- 学生控制器 -->
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>ai.my.phase4examination.web.controller.StudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student/pagingQuery.do</url-pattern>
    </servlet-mapping>


</web-app>
